@import"./reset";
@import "./navigation";
@import"./slick";
@import"./porti";


$midnight: #2c3e50;
$clouds: #ecf0f1;




// banner

.banner{
    height: 90vh;
    width: 100%;

    .slider1{
        height: 90vh;
    }
}


// about

.about{

    background-color: #858585;

    .row2{
        display: flex;
        flex-wrap: wrap;
    }


    .about-text{
        background-color: black;
        

        .text-inner{
            h2{
                position: relative;
                font-size: 30px;
                margin-bottom: 20px;
                padding: 20px;
                font-family: 'Montserrat SemiBold';
                color: white;
                &::before{
                    height: 2px;
                    width: 40px;
                    content: "";
                    background:white;
                    position: absolute;
                    top: 53px;
                }
            }

            p{
                color: white;
                line-height: 1.2;
                padding: 10px;
                font-size: 20px;
                font-family: 'Montserrat Regular';
            }
            .about-links{
                padding: 30px;
                display: flex;
                a{
                    padding: 13px 20px;
                    border: 1px solid white;
                    margin-left: 10px;
                    text-decoration: none;
                    color: white;
                    cursor: pointer;
                    border-radius: 4px;

                    &:hover{
                        background: white;
                        color: black;
                    }
                }
            }
        }

    }
}

// contact

.contact{

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    .contact-img{
        background-image: linear-gradient(to bottom, #0c0c0ca4, #0505058a),url(../img/Capture.JPG);
        background-size: cover;
        background-repeat: no-repeat;
        height: 50vh;
        width: 100%;
    }

   
    .contact-info{
        background: black;
        display: flex;
        justify-content: center;
       
        h1{
            font-size: 20px;
             color: #fff;
             margin: 20px;
             position: relative;
             &::after{
               height: 1px;width: 70px;background: white;content: "";position: absolute;top: 26px;left: 4px;
             }
      
            span{
              font-weight: bold;
              color: white;
              padding-right: 10px;
            }
          }


        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        height: 100%;
        width: 100%;
        padding: 10px;
        justify-content: center;

      

        #text{

            width: 90%;
            margin: 9px auto;
            background: none;
            border: 1px solid whitesmoke;
            color: whitesmoke;
        }

        .username{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

           color: whitesmoke;

           input{
                width: 90%;
                height: 40px;
                margin: 9px;
                background: no-repeat;
                border: 1px solid whitesmoke;
                color: whitesmoke;
                outline: none;
                border-radius: 4px;
            }
           
        }

        .email{
            height: 40px;
            width: 90%;
            margin: 0 auto;
            background: none;
            border: 1px solid whitesmoke;
            color: whitesmoke;
            border-radius: 4px;
        }

        .submit{

                width: 35%;
                height: 50px;
                // margin-left: 5%;
                background: none;
                border: 1px solid whitesmoke;
                color: whitesmoke;
                margin: 0 auto;
                border-radius: 4px;
        }
     
    }

}

.contact-links{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    flex-wrap: wrap;

    a{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        text-decoration: none;
        color: black;
        font-size: 15px;
        cursor: pointer;
        margin: 20px 20px;
        flex-direction: column;

        span{
            margin: 20px 20px;
        }
    }
}

// news

.news{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    background-color: #858585;
    justify-content: center;
    width: 100%;

    h2{
        color: white;
    }
    #mail {
        margin: 20px 40px;
        height: 50px;
        width: 100%;
        border: none;
        border-bottom: 2px solid whitesmoke;
        background-color: #858585;
        outline: none;
        border-radius: 4px;
        &::placeholder{
            color: whitesmoke;
        }
    }

    #submit{
        width: 60%;
        height: 50px;
        background: none;
        border: 1px solid white;
        border-radius: 20px;
        color: white;
        &:hover{
            background: black;
        }

    }
       

    h2{
        font-size: 30px;
        span{
            margin-right: 20px;
        }
    }
}



// copyrights

.copyright{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: black;
    padding: 20px;
    .desighn{
        font-style: italic;
        color: red;
        font-family: monospace;
    }
    p{
        margin: 20px auto;
        color: white;
    }

    a{
        margin: 15px 15px;
    }

.copy-links{

    display: flex;
    
    flex-wrap: wrap;
}

}

@media (min-width: 768px){

    .header .sidebar.active{
        left: 0;
        width:300px;
    }

    // banner

    .banner{
        height: 60vh;

        .slider1{
            height: 60vh;
        }
    }

        // about

        .about{

            padding: 40px;
            width: 100%;
    
            .row2{
                justify-content: space-between;
                position: relative;
                width: 100%;
    
                .about-img{
                    position: absolute;
                    width: 45%;
                    left: 5%;
                    top: 16%;
                }
    
                .about-text{
                    background-color: black;
                    
            
                    .text-inner{
                       
            
                        p{
                            color: white;
                            line-height: 1.2;
                          
                            font-size: 10px;
                            font-family: 'Montserrat Regular';
                        }
                       
                    }
            
                }
            }
        }

        .area{

            align-items: center;

            .col{
                margin: 10px;
                p{
                    font-size: 18px;
                }

                .tabs{

                    
                    .tab{
                        .tab-label{
                            padding: 0.7em;
                            font-size: 16px;
                        }
                    }
                }
            }

        }

        .portifolio{
           
            .item{

                height: 200px;
                margin: unset;
            }

            p{
                margin: 10px 10%;
                text-align: center;
            }
            .buttons{
                justify-content: center;
            }
        }

        .contact{

            flex-direction: row;

            .contact-img{
                height: 46vh;
                background-size: auto;
            }
        }
        .contact-links{
            padding: unset;
            a{
                font-size: 12px;
            }
        }


}



@media (min-width: 1200px) { 

    .header .sidebar.active{
        left: 0;
        width:300px;
    }

    .banner{
        height: 100vh;

        .slider1{
            height: 100vh;
        }
    }

    // about

    .about{

        padding: 40px;
        width: 100%;

        .row2{
            justify-content: space-between;
            position: relative;
            width: 100%;

            .about-img{
                position: absolute;
                width: 45%;
                left: 8%;
                top: 16%;
            }

            .about-text{

                padding: 10px 30px;
                width: 100%;

                .text-inner{
                    padding: 10px 40px;

                    p{
                    font-size: 20px;
                    }
                }

            }
        }
    }

    // area

    .area{


        padding: 50px;
        align-items: center;

        .col{

            margin: 20px 30px;

            h2{
                font-size: 40px;
                &::after{
                    top: 48px;
                    height: 3px;
                }
            }

            .tabs{

                .tab{

                    box-shadow: 15px 4px 9px -0px rgba(0,0,0,0.5);
                    .tab-label{
                        padding: 1em;
                        font-size: 18px;
                    }
                    
                }
            }

         
            }
        }


            // portifolio

    .portifolio{
        display: flex;
        flex-direction: column;
        justify-content: center;

        p{
            margin: 10px 10%;
            text-align: center;
            
            font-size: 25px;
        }

        .buttons{
            display: flex;
            justify-content: center;
        }
    }


    .news{
        display: flex;
        // flex-direction: column;
        flex-direction: row;
        align-items: center;
        padding: 40px;
        background-color: #858585;
        justify-content: center;
        width: 100%;
        #mail {
            margin: 20px 40px;
            height: 50px;
            width: 40%;
            border: none;
            border-bottom: 2px solid whitesmoke;
            background-color: #858585;
            outline: none;
            &::placeholder{
                color: whitesmoke;
            }
        }

        #submit{
            width: 10%;
            height: 50px;

        }
           
    
        h2{
            font-size: 30px;
            span{
                margin-right: 20px;
            }
        }
    }

    .contact{

        display: flex;
        flex-direction: row;

        .contact-links{


            a{
                border-right: 1px solid green;
            }
        }

        .contact-img{
            width: 100%;
            height: 100%;
        }

        .contact-info{
            background: black;
            display: flex;
            justify-content: center;
           
            h1{
                font-size: 20px;
                 color: #fff;
                 margin: 20px;
                 position: relative;
                 &::after{
                   height: 1px;width: 70px;background: white;content: "";position: absolute;top: 26px;left: 4px;
                 }
          
                span{
                  font-weight: bold;
                  color: white;
                  padding-right: 10px;
                }
              }
    
    
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            height: 100%;
            width: 100%;
            padding: 10px;
            justify-content: center;
    
          
    
            #text{
    
                width: 90%;
                margin: 9px auto;
                background: none;
                border: 1px solid whitesmoke;
                color: whitesmoke;
            }
    
            .username{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
    
               color: whitesmoke;
                // }
            }

            .email{
                height: 40px;
                width: 90%;
                margin: 0 auto;
                background: none;
                border: 1px solid whitesmoke;
                color: whitesmoke;
            }

            .submit{

                    width: 30%;
                    height: 50px;
                    margin-left: 5%;
                    background: none;
                    border: 1px solid whitesmoke;
                    color: whitesmoke;
            }
         
        }





    }

    .contact-links{
        padding: unset;
        a{
            font-size: 18px;
            flex-direction: row;
            margin: auto 20px;
        }
    }
    

.portifolio{

    padding: 10px;

    p{
        font-size: 24px;
        font-family: 'Montserrat Regular';
      }
  
      h1{
        font-size: 20px;
         color: #707070;
         margin: 20px auto;
         position: relative;
         &::after{
           height: 1px;width: 70px;background: black;content: "";position: absolute;top: 26px;left: 4px;
         }

  
        span{
          font-weight: bold;
          color: black;
          padding-right: 10px;
        }
    }


    .buttons {
        padding: 20px 0 40px;
        display: flex;
        flex-wrap: wrap;
      }
      
      .button {
        transition: all .2s ease-in-out;
        -webkit-appearance: none;
        border-radius: 100px;
        font-family: inherit;
        appearance: none;
        background: none;
        font-weight: 700;
        font-size: 24px;
        cursor: pointer;
        padding: 7px;
        outline: none;
        opacity: 0.4;
        border: none;
        color: #000;
      }
      
      .button:hover,
      .button.active {
        opacity: 1;
      }
      
      .grid {
      display: flex;
      flex-wrap: wrap;

     
    
      }
      
      .item {
        border-radius: 4px;
        height: 380px;
        width: 380px;
        margin: 10px auto;
        position: relative;
       display: flex;
       justify-content: center;
       align-items: center;

     img{
      height: 100%;
       object-fit: cover;
       width: 100%;
     }

        .overlay{
            height: 100%;
            width: 100%;
            background: rgba(0, 0, 0, 0.678);
            position: absolute;
            z-index: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            opacity: 0;

            img{
              height: 10%;
              width: auto;
            }
            &:hover{

                opacity: 1;
                transition: all .35s;
            }
            .over-inner{
                height: 95%;
                width: 95%;
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                border: 1px solid white;

                p{
                    color: white;
                    font: 18px;
                    margin: 20px auto;
                }

                a{
                    padding: 10px 30px;
                    border: 1px solid white;
                    color: white;
                    text-decoration: none;
                    &:hover{
                        background: white;
                        color: black;
                    }
                }
            }
        }
      }
      
    
      
      .hide { display: none; }
      .button2{
        padding: 15px 30px;
        background: black;
        color: white;
        margin: 20px auto;
        border-radius: 4px;
        text-decoration: none;
    }




















}









    }




 